{% extends "base.html" %}

{% block title %}
About | My DevOps Portfolio
{% endblock %}


{% block content %}

<main>

    <h1>About Me</h1>

    <p>
        I'm a beginner DevOps engineer passionate about
        automation, cloud infrastructure and software deployment.
    </p>


    <h2>My Skills</h2>

    <ul>
        <li>Linux</li>
        <li>Python</li>
        <li>Git & GitHub</li>
        <li>Docker</li>
        <li>CI/CD</li>
        <li>Cloud Computing</li>
    </ul>

</main>

{% endblock %}
